.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: $md-size;
  
  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
    margin-bottom: $lg-size;
  }
}

.input-group__item {
  margin-bottom: $sm-size;

  @media (min-width: $desktop-breakpoint) {
    margin: 0 $sm-size 0 0 ;
  }
}