// Colors
$dark-gray: #333;
$gray: #666666;
$blue: #1c88bf;
$dark-blue: #364051;
$money-green: #006700;
$light-gray: #e3e3e3;


// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$sm-size: 1.2rem;
$md-size: 1.6rem;
$lg-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
